<h3>showcase</h3>

<div class="showcase">
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488637428/gel_manicure_m8gtu7.jpg" alt="">
      <figcaption>
        Gel manicure
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488638656/pedicure_b3zals.jpg" alt="">
      <figcaption>
        Pedicure
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488638789/eyebrow_shape_ejhdkl.jpg" alt="">
      <figcaption>
        Eyebrow Shape
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488640245/wedding1_nmypav.jpg" alt="">
      <figcaption>
         Wedding #1
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488640245/wedding2_yxylal.jpg" alt="">
      <figcaption>
        Wedding #2
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488640245/wedding3_m9jy15.jpg" alt="">
      <figcaption>
        Wedding #3
      </figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
      <img src="https://res.cloudinary.com/ymb/image/upload/v1488640245/wedding4_yaonjw.jpg" alt="">
      <figcaption>
        Wedding #4
      </figcaption>
    </figure>
  </a>
</div>
