<div class="container">
  <div class="card card-block">
    <h4 class="card-title">Add a new about me paragraph</h4>
    <form [formGroup]="aboutmeForm" novalidate action="api/aboutme" (ngSubmit)="newData()">
      <label for="description">About me section</label>
      <input type="text" formControlName="description" name="description" placeholder="About me paragraph"><br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<div [(hidden)]="showDialog">
  <div class="container">
    <div class="card card-block">
      <h4>Editing {{selectedAboutMe.description}}</h4>
      <form [formGroup]="aboutmeEditForm" novalidate action="api/aboutme" (ngSubmit)="editData()">
        <label for="_id">ID</label>
        <input formControlName="_id" type="text" name="_id" readonly [(ngModel)]="selectedAboutMe._id"><br>
        <label for="description">Description</label>
        <input formControlName="description" type="text" name="description" [(ngModel)]="selectedAboutMe.description" placeholder="Description"><!--<span class="required-field" *ngIf="!aboutmeEditForm.controls.description.valid">Required</span>--><br>
        <button type="submit" class="btn btn-default" [disabled]="!aboutmeEditForm.valid">Submit</button>
        <button type="button" (click)="deleteData(selectedAboutMe._id)" class="btn btn-default">Delete</button>
      </form><br>
      <button (click)="showDialog = !showDialog" class="btn">Close</button>
    </div>
  </div>
</div>

<div *ngFor="let aboutme of aboutmelist">
  <div class="aboutme-container" *ngIf="aboutme._id">
    <div class="aboutme-header">{{aboutme.description}} -
      <button (click)="showDialog = !showDialog; selectedAboutMe = aboutme" class="btn">Edit</button>
    </div>
  </div>
</div>

