<nav id="menubar" class="navbar navbar-toggleable-md navbar-light home-navbar-top fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <picture>
      <source srcset="assets/images/ymb_small.png" media="(max-width: 700px)">
      <source srcset="assets/images/ymb.png">
      <img src="/assets/images/ymb.png" alt="you, me and beauty" style="width:auto;">
    </picture>

  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <a class="nav-link" routerLinkActive="active" routerLink="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/pricelist">pricelist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/showcase">showcase</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/aboutme">about me</a>
    </li>
  </ul>
  </div>
</nav>

<router-outlet></router-outlet>
