<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <a class="nav-link" routerLinkActive="active" routerLink="/">home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/pricelist">pricelist<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>

<div class="banner-container">
<div class="banner1">
	Part of being a Beauty Therapist is having the ability to be able to listen, comfort, and reassure my clients as having a physical treatment plays a huge part on how they feel mentally and emotionally. And I’m all for making someone feel better be it giving them silky smooth legs, well painted toes or taking the tension away with a massage.
</div>
</div>


