<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <a class="nav-link" routerLinkActive="active" routerLink="/">home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/pricelist">pricelist<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>

<div class="banner-container">
<div class="banner1">

</div>
</div>


