body {
  background: #fff !important;
}

@media (max-width: 700px) {
  body {
    margin-top: 85px !important; /*85 for home page*/
  }
  .banner-container {
    height: calc(100vh - 86px);
  }
}

@media (min-width: 701px) {
  body {
    margin-top: 146px !important; /* 146 for home page*/
  }
  .banner-container {
    height: calc(100vh - 147px);
  }
}

._2zfs {
  background: none !important;
}

.banner1 {
  background:	url("http://res.cloudinary.com/ymb/image/upload/v1492425831/Capture0030-Facebook-size_qe6pcu.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: calc(100%);
  filter: gray;
  filter: grayscale(75%);
  background-blend-mode: screen;
 /** background-color: darkturquoise;**/
  padding: 20px;
}

h1 {
  margin-top: 20px;
}

