<div class="banner-container">
<div class="banner1">
  This is my stuff
</div>
<div class="banner2">
  My stuff is over here
</div>
<div class="banner3">
 <!-- <div class="fb-page" data-href="https://www.facebook.com/youmeandbeauty1" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/youmeandbeauty1" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/youmeandbeauty1">You Me &amp; Beauty</a></blockquote></div>-->
</div>
</div>
